body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
  color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1050px;
  margin: 0 auto;
}

/* Main content */
.main-content {
  padding: 0 88px 88px 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* Buttons*/
.buttons ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 40px 0 40px 500px;
}

.buttons a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.buttons a:hover,
.buttons a:focus {
  background-color: #e0ebfe;
}

/* About me */
.my-profession {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  padding-left: 70px;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
  padding-left: 70px;
}

.my-deskr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 525px;
  margin: 0;
  color: #000000;
}

.about-me-container {
  padding-top: 50px;
  margin-bottom: 64px;
}

/* Projects */
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  list-style: none;
  padding-bottom: 20px;
}

.project-list {
  padding: 0;
}

.projects-container {
  margin-bottom: 48px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.item-descr-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

/* Work experience */
.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-experience-company {
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin: 12px 0 8px 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.work-duties-list {
  padding: 0 0 0 16px;
  margin: 0;
}

/* Sidebar */
.sidebar {
  width: 370px;
  padding-bottom: 40px;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 70px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 8px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* Skills */
.skills-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.skills-list-item {
  color: #000000;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* Education */
.education-container {
  margin-top: 42px;
}

.name-education {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 12px 0 0 0;
}

.name-education-faculty {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin: 12px 0 0 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin: 12px 0 8px 0;
}

.name {
  background: #ffffff;
  width: 1050px;
  padding-top: 70px;
  margin: 0 auto;
}

.link-border {
  border-bottom: solid;
}

.role-project {
  font-weight: 600;

  font-size: 16px;
  margin: 0;
}

.role-project-span {
  font-weight: 400;

  font-size: 16px;
  margin: 0;
}
